[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.27"
optimizer = true
optimizer_runs = 200
via_ir = false
evm_version = "cancun"

# Testing
fuzz = { runs = 256 }
invariant = { runs = 256 }

# Formatter
line_length = 100
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "attributes_first"
quote_style = "double"
number_underscore = "thousands"

# Remappings
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "@semaphore-protocol/=lib/semaphore/packages/contracts/"
]

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }

[profile.ci]
fuzz = { runs = 1000 }

